    <aside class="sidebar" data-sidebar>

      <div class="sidebar-info">

        <figure class="avatar-box">
          <img src="./assets/images/my-avatar.jpg" alt="Noman Ali Malik" width="80">
        </figure>

        <div class="info-content">
          <h1 class="name" title="Noman Ali Malik">Noman Ali Malik</h1>

          <p class="title">Front-End Developer &amp; IT Support Specialist</p>

          <a class="cta-btn" href="mailto:noumanmalik970@gmail.com">Let's work together</a>
        </div>

        <button class="info_more-btn" data-sidebar-btn>
          <span>Show Contacts</span>

          <ion-icon name="chevron-down"></ion-icon>
        </button>

      </div>

      <div class="sidebar-info_more">

        <div class="separator"></div>

        <ul class="contacts-list">

          <li class="contact-item">

            <div class="icon-box">
              <ion-icon name="mail-outline"></ion-icon>
            </div>

            <div class="contact-info">
              <p class="contact-title">Email</p>

              <a href="mailto:noumanmalik970@gmail.com" class="contact-link">noumanmalik970@gmail.com</a>
            </div>

          </li>

          <li class="contact-item">

            <div class="icon-box">
              <ion-icon name="phone-portrait-outline"></ion-icon>
            </div>

            <div class="contact-info">
              <p class="contact-title">Phone</p>

              <a href="tel:+447761256842" class="contact-link">+44 7761 256842</a>
            </div>

          </li>

          <li class="contact-item">

            <div class="icon-box">
              <ion-icon name="location-outline"></ion-icon>
            </div>

            <div class="contact-info">
              <p class="contact-title">Location</p>

              <address>London, United Kingdom</address>
            </div>

          </li>

          <li class="contact-item">

            <div class="icon-box">
              <ion-icon name="logo-linkedin"></ion-icon>
            </div>

            <div class="contact-info">
              <p class="contact-title">LinkedIn</p>

              <a href="https://www.linkedin.com/in/noman-alimalik" class="contact-link" target="_blank"
                rel="noopener">linkedin.com/in/noman-alimalik</a>
            </div>

          </li>

          <li class="contact-item">

            <div class="icon-box">
              <ion-icon name="logo-github"></ion-icon>
            </div>

            <div class="contact-info">
              <p class="contact-title">GitHub</p>

              <a href="https://github.com/noman-malikk" class="contact-link" target="_blank"
                rel="noopener">github.com/noman-malikk</a>
            </div>

          </li>

        </ul>

        <div class="separator"></div>

        <ul class="social-list">

          <li class="social-item">
            <a href="https://github.com/noman-malikk" class="social-link" target="_blank" rel="noopener">
              <ion-icon name="logo-github"></ion-icon>
            </a>
          </li>

          <li class="social-item">
            <a href="https://www.linkedin.com/in/noman-alimalik" class="social-link" target="_blank" rel="noopener">
              <ion-icon name="logo-linkedin"></ion-icon>
            </a>
          </li>

        </ul>

      </div>

    </aside>
